.postContainer {
  height: 100%;
  position: relative;
}

.post-contaier-wrapper {
  padding: 0 90px;
  height: 100%;
}

.post-container-header span {
  margin: 5px 0;
  color: white;
  font-size: 12px;
}

.post-container-header h1 {
  color: white;
  margin: 20px 0 0;
}

.post-container-content {
  height: calc(100% - 72px);
}

.post-container-empty-div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-icon {
  font-size: 85px;
  color: #ccc;
}

.empty-text {
  color: #303f60;
  margin: 12px 0 30px;
  font-weight: 500;
  opacity: 0.8;
}

.empty-button {
  padding: 10px 25px;
  border-radius: 5px;
  color: #fff;
  border: 0;
  background-color: #43afff;
  cursor: pointer;
}

.postContainer-content {
  height: calc(100% - 30px);
}

.postContainer-header {
  margin: 0;
  color: white;
}

.all-posts-data {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.single-post-data {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  flex-basis: 23%;
  margin-right: 20px;
  box-shadow: 0px 3px 6px #557DA526;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-post-data h3 {
  color: #303F60;
  margin-bottom: 10px;
}

.single-post-data p {
  margin: 0;
  margin-bottom: 10px;
}

.single-post-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.single-post-location button {
  padding: 5px 10px;
  color: #303F60;
  background: #43AFFF33 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 10px;
}
