.home-wrapper {
  background: transparent linear-gradient(248deg, #303F5E 0%, #1A253C 100%) 0% 0% no-repeat padding-box;
  height: 390px;
}

.wrap-content {
  display: flex;
  padding: 0 90px;
  padding-top: 50px;
}

.column-1 {
  color: white;
  flex: 1;
  padding-top: 20px;
}

.column-1-text {
  font-size: 50px;
}

.column-1-text span {
  color: #43afff;
}

.column-1-button {
  margin-top: 20px;
  background-color: #43afff;
  color: #fff;
  padding: 10px 25px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.column-2 {
  flex: 1;
}

.image-main {
  width: 500px;
  border-radius: 20px;
  box-shadow: 0px 30px 36px #557DA526;
}

.section {
  padding: 0 90px;
  padding-top: 50px;
  background: #EDF6FF 0% 0% no-repeat padding-box;
}

.sec-title {
  width: 100%;
  margin-bottom: 15px;
}

.sec-content {
  display: flex;
  justify-content: space-between;
}

.sec-content-2 {
  display: flex;
  flex-direction: column;
}

.section-box {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 3px 6px #557DA526;
  border-radius: 5px;
  flex: 1;
}

.margin-right {
  margin-right: 20px;
}

.row {
  display: flex;
  padding-bottom: 40px;
}

.logo-row-1 {
  justify-content: space-between;
}

.logo-row-2 {
  justify-content: space-around;
}

