.navContainer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 100px);
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #4d618e;
  margin: 0 40px;
}

.my {
  font-size: 22px;
  color: white;
}

.jobs {
  font-size: 22px;
  color: #43afff;
}

.loginSignup {
  width: 150px;
  height: 45px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #43afff;
  border-radius: 5px;
  font-size: 16px;
}

.loginSignup:focus {
  outline: none;
}

.loggedInUserWrapper {
  display: flex;
}

.loggedInUser {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #d9efff;
  display: flex;
  justify-content: center;
  font-size: 18px;
  align-items: center;
}

.drop-icon {
  color: white;
  margin: 15px 0 0 15px;
  cursor: pointer;
  position: relative;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
  position: absolute;
  bottom: 20px;
  right: 0px;
}

.logout::after {
  content: "Logout";
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.logout {
  background-color: white;
  position: absolute;
  top: 10%;
  width: 100px;
  padding: 0 10px;
  display: flex;
  right: 50px;
  align-items: center;
  height: 30px;
  border-radius: 3px;
  animation: toggle 0.2s;
  cursor: pointer;
}

@keyframes toggle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
