.resetPasswordContainer {
  display: flex;
  justify-content: space-evenly;
  height: 410px;
  width: 560px;
  flex-direction: column;
  border: 1px solid #557da526;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 10px 20px 0px #557da526;
}

h1 {
  margin: 0 30px;
  color: #303f60;
  font-size: 22px;
}

p {
  margin: 0 30px;
  color: #303f60;
  font-size: 14px;
}

.resetLabel {
  margin: 0 30px;
  color: #303f60;
  font-size: 14px;
  height: 14px;
}

.resetPasswordInput {
  height: 45px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  font-size: 16px;
  padding-left: 15px;
  margin: 0 auto;
}
.resetButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.resetButton {
  width: 150px;
  height: 45px;
  color: white;
  background-color: #43afff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
