* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.postJob-Wrapper {
}


.postBox {
  display: flex;
  justify-content: space-evenly;
  height: 430px;
  width: 560px;
  margin: 80px auto;
  flex-direction: column;
  border: 1px solid #557da526;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 10px 20px 0px #557da526;
}

.post {
  margin: 0 30px;
  color: #303f60;
  font-size: 22px;
  font-weight: bold;
}

.postLabels {
  margin: 0 30px;
  color: #303f60;
  font-size: 14px;
  height: 14px;
}

.postInput {
  height: 45px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  font-size: 16px;
  padding-left: 15px;
  margin: 0 auto;
}

.descText {
  height: 110px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  font-size: 16px;
  padding-left: 15px;
  margin: 0 auto;
}

.descText:focus {
  outline: none;
  border: 1px solid #43afff;
}

.postInput:focus {
  border: 1px solid #43afff;
  outline: none;
}

.postButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postButton {
  width: 150px;
  height: 45px;
  color: white;
  background-color: #43afff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
